Repository fenndragon/HardLight, pull requests merged in 2025-10, with the labels that each got.

#307 Fix your own humanoid examine being bugged
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
Labels: S: Untriaged, C#

#281 Mayflower Mk II
  Resources/Maps/_HL/Shuttles/Expedition/mayflowerII.yml
  Resources/Prototypes/_HL/Shipyard/Expedition/mayflowerII.yml
Labels: S: Untriaged, size/XL, No C#, YML, S: Needs Review

#301 increase Antediluvian
  Resources/Prototypes/_HL/Shipyard/Shuttles/Antediluvian.yml
Labels: size/XS, No C#, YML

#317 Custom character work (submission 2)
  Resources/Locale/en-US/_HL/job/job-names.ftl
  Resources/Prototypes/_HL/Admeme/AdminCharacterBundles/CommonItems/chemical_containers.yml
  Resources/Prototypes/_HL/Admeme/AdminCharacterBundles/CommonItems/disposable_items.yml
  Resources/Prototypes/_HL/Admeme/AdminCharacterBundles/CommonItems/extra_items.yml
  Resources/Prototypes/_HL/Admeme/AdminCharacterBundles/CommonItems/micro_reactor_items.yml
  Resources/Prototypes/_HL/Admeme/AdminCharacterBundles/arachne_cartel_elite.yml
  Resources/Prototypes/_HL/Admeme/AdminCharacterBundles/marrik_bounty_hunter.yml
  Resources/Prototypes/_HL/Admeme/AdminCharacterBundles/vulrik_thornepelt_colcom.yml
Labels: S: Untriaged, size/M, No C#, FTL, YML

#318 Mayflower Mk II revised
  Resources/Maps/_HL/Shuttles/Expedition/mayflowerII.yml
  Resources/Prototypes/_HL/Shipyard/Expedition/mayflowerII.yml
Labels: size/XL, No C#, YML
