Repository fenndragon/HardLight, pull requests merged in 2025-08, with the labels that each got.

#134 Fixes and misc
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Textures/_HL/Mobs/Characters/Alloren.rsi/alive-unshaded.png
  Resources/Textures/_HL/Mobs/Characters/Alloren.rsi/alive.png
Labels: S: Untriaged, Sprites, No C#, YML

#137 Assload
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/reach.yml
Labels: S: Untriaged, Map-POI, C#, YML

#138 Ivy branch
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/plant_analyzer.yml
Labels: S: Untriaged, size/S, No C#, YML

#139 Lets slimepeople have animal ears and tails.
  Resources/Prototypes/Species/slime.yml
Labels: S: Untriaged, No C#, YML

#140 Drug hell
  Resources/Locale/en-US/_Crescent/reagent/medicine.ftl
  Resources/Prototypes/_Crescent/Entities/Reagents/narcotics.yml
  Resources/Prototypes/_Crescent/Entities/Recipes/Reactions/chemicals.yml
Labels: size/M, No C#, FTL, YML

#142 Fix lathes missing OreSiloClient component
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: size/XS, No C#, YML

#146 HOTFIX: Stop AI turrets from causing flickering lights (#38212)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_base.yml
Labels: S: Untriaged, No C#, YML

#131 Fix DrDino8's yaml parent (test for Fenn's coding class =])
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
Labels: size/XS, No C#, YML

#150 Satchel
  Resources/Textures/_NF/Clothing/Back/Satchels/pilot.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Satchels/pilot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Satchels/pilot.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Satchels/pilot.rsi/inhand-right.png
Labels: S: Untriaged, size/XS, Sprites, No C#

#153 Drug updates
  Content.Server/_Hardlight/Drugs/PacketSealingSystem.cs
  Content.Shared/_Hardlight/Drugs/PacketSealingComponent.cs
  Content.Shared/_Hardlight/Drugs/PacketSealingSystem.cs
  Resources/Prototypes/_CD/Entities/Objects/Misc/contraband.yml
  Resources/Prototypes/_CD/Reagents/narcotics.yml
  Resources/Prototypes/_CD/Recipes/Crafting/Graphs/narcotics.yml
  Resources/Prototypes/_CD/Recipes/Crafting/narcotics.yml
  Resources/Prototypes/_HL/Recipes/Cooking/meal_recipes.yml
Labels: S: Untriaged, size/M, do not merge, C#, No C#, YML

#155 Ports permabrig command and fentanyl
  Content.Server/Administration/Commands/PrisonerCommands.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Shared/CCVar/CCVars.Admin.cs
  Resources/Locale/en-US/_Goobstation/Flavors/flavors.yml
  Resources/Locale/en-US/_Goobstation/Reagents/fentanyl.ftl
  Resources/Locale/en-US/_KS14/Commands/job-permabrig-command.ftl
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/narcotics.yml
Labels: size/M, C#, FTL, YML

#157 exploit and balance fixes
  Resources/Prototypes/_CD/Entities/Objects/Misc/contraband.yml
Labels: size/S, No C#, YML

#154 Snake tail port
  Resources/Locale/en-US/_CD/markings/reptilian.ftl
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_wag_secondary.png
Labels: S: Untriaged, size/M, Sprites, No C#, FTL, YML

#161 Adds the SCC Peacekeeper by Alkashy
  Resources/Maps/_HL/Shuttles/peacekeeper.yml
  Resources/Prototypes/_HL/Shipyard/Expedition/peacekeeper.yml
Labels: S: Untriaged, size/XL, No C#, YML

#158 Added OreSiloClient component to Cutter Machine & Uniform Printer
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: size/XS, No C#, YML

#165 Fulton Fix (Sort Of)
  Resources/Prototypes/Research/industrial.yml
Labels: S: Untriaged, size/XS, No C#, YML

#167 SESWC restore
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/brassknuckles.yml
Labels: S: Untriaged, No C#, YML

#168 The stealth hardsuit no longer spams errors when worn
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: size/S, No C#, YML

#169 Peacekeeper & Copperhead fixes
  Resources/Maps/_HL/Shuttles/Expedition/peacekeeper.yml
  Resources/Maps/_HL/Shuttles/Syndicate/Copperhead.yml
Labels: size/L, No C#, YML

#171 Scrap Tech Addition
  Resources/Prototypes/_NF/Entities/Materials/ore.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/scrap.yml
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
Labels: No C#, YML

#173 RMC14 Dragon Wings Port
  Resources/Locale/en-US/_RMC14/markings/reptilian.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/reptilian.yml
  Resources/Textures/_RMC14/Mobs/Customization/reptilian.rsi/body_dragonwings.png
  Resources/Textures/_RMC14/Mobs/Customization/reptilian.rsi/body_dragonwings_membrane.png
  Resources/Textures/_RMC14/Mobs/Customization/reptilian.rsi/meta.json
Labels: S: Untriaged, Sprites, No C#, FTL, YML

#166 directional fan in the RCD
  Resources/Locale/en-US/_Flooftier/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/RCD/rcd.yml
  Resources/Prototypes/_HL/RCD/rcd.yml
Labels: S: Untriaged, size/S, No C#, FTL, YML

#174 Build the Future (Ship Saving v0.1)
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Shuttles/Save/ShipFileManagementSystem.cs
  Content.Client/_NF/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/_NF/Shipyard/Systems/ClientShuttleDeedSystem.cs
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Shuttles/Save/ShipSaveCommands.cs
  Content.Server/Shuttles/Save/ShipSaveSystem.cs
  Content.Server/Shuttles/ShipSerializationSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Server/_NF/ShuttleRecords/ShuttleRecordsSystem.Console.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Content.Shared/_NF/Roles/Systems/SharedInterviewHologramSystem.cs
  Content.Shared/_NF/Shipyard/Components/ShuttleDeedComponent.cs
  Content.Shared/_NF/Shipyard/Events/ShipyardConsoleSaveMessage.cs
  Content.Shared/_NF/Shuttles/Save/ShipGridData.cs
  Content.Shared/_NF/Shuttles/Save/ShuttleSaveMessages.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
Labels: S: Untriaged, size/L, UI, C#, FTL

#177 Ship saving hotfixes
  Content.Client/Shuttles/Save/ShipFileManagementSystem.cs
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/Shuttles/ShipSerializationSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/Shuttles/Save/ShipConvertedToSecureFormatMessage.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
Labels: S: Untriaged, size/M, UI, C#, FTL, S: Needs Review

#180 Ship Saving refinements
  ADMIN_SHIP_COMMANDS.md
  Content.Client/Shuttles/Save/ShipFileManagementSystem.cs
  Content.Client/_NF/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Server/Administration/Commands/ShipSaveAdminCommands.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Shuttles/Save/ShipSaveSystem.cs
  Content.Server/Shuttles/ServerIdentityService.cs
  Content.Server/Shuttles/ShipSerializationSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/_NF/Shuttles/Save/ShipGridData.cs
  Content.Shared/_NF/Shuttles/Save/ShuttleSaveMessages.cs
Labels: S: Untriaged, size/L, C#, Docs

#181 Ship saving optimization
  Content.Client/Shuttles/Save/ShipFileManagementSystem.cs
  Content.Server/Shuttles/ShipSerializationSystem.cs
Labels: S: Untriaged, size/M, C#

#184 More useful warning on shipyard UI
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml
Labels: S: Untriaged, size/XS, UI, No C#

#187 Fixs a bunch of small bugs
  Resources/Maps/_NF/Shuttles/Expedition/wisp.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_ballistic.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_HL/Entities/Structures/Doors/Airlocks/Airlocks.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/45_ACP.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: S: Untriaged, size/S, Map-Shuttle, No C#, YML, S: Needs Review

#199 Industrial Reagent Grinder Tweak
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: size/XS, No C#, YML

#200 Crossbow Buff
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_crossbow_quiver.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
Labels: S: Untriaged, No C#, YML

#203 Adds the THI Apollo
  Resources/Maps/_HL/Shuttles/apollo.yml
  Resources/Prototypes/_HL/Shipyard/apollo.yml
Labels: size/XL, No C#, YML

#204 Better apollo description
  Resources/Prototypes/_HL/Shipyard/apollo.yml
Labels: size/XS, No C#, YML

#206 GOD FUCKING KILL ME
  Resources/Prototypes/_DV/Body/Prototypes/avali.yml
  Resources/Prototypes/_NF/Body/Organs/avali.yml
  Resources/Prototypes/_StarLight/Body/Parts/avali.yml
  Resources/Prototypes/_StarLight/Entities/Mobs/Species/avali.yml
Labels: size/S, No C#, YML

#207 Multi Science Shuttle Update & New Pulsar AE
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/lyrae.yml
  Resources/Maps/_NF/Shuttles/pulsar.yml
  Resources/Maps/_NF/Shuttles/sparrow.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Prototypes/Catalog/Fills/Lockers/science.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/science.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/crescent.yml
  Resources/Prototypes/_NF/Shipyard/investigator.yml
  Resources/Prototypes/_NF/Shipyard/pulsar.yml
  Resources/Prototypes/_NF/Shipyard/sparrow.yml
  Resources/Prototypes/_NF/Shipyard/spectre.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Pulsar.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/pulsar.png
  Resources/nf_migration.yml
Labels: size/XL, Map-Shuttle, Sprites, No C#, Docs, FTL, YML

#214 Spacespresso Coffee Machine Port
  Resources/Locale/en-US/_NF/reagents/meta/medicine.ftl
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_NF/Catalog/ReagentDispensers/condiments.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/condiments_bottles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Dispensers/coffee.yml
  Resources/Prototypes/_NF/Reagents/medicine.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/service_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/blueprints.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Prototypes/_NF/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_NF/Research/civilianservices.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/coffeecup.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/coffeecup.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/coffeecup.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/coffeecup.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/mccoffeecup.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/mccoffeecup.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/mccoffeecup.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/mccoffeecup.rsi/meta.json
  Resources/Textures/_NF/Structures/coffeemachine.rsi/coffeemachine.png
  Resources/Textures/_NF/Structures/coffeemachine.rsi/meta.json
  Resources/Textures/_NF/Structures/coffeemachine.rsi/unshaded.png
Labels: S: Untriaged, size/M, Sprites, No C#, FTL, YML

#216 NT ship
  Resources/Audio/_HL/Custom/Warp.ogg
  Resources/Locale/en-US/_HL/access/access.ftl
  Resources/Maps/_HL/Shuttles/NanoTrasen/shieldofperseus.yml
  Resources/Prototypes/_HL/Access/factions.yml
  Resources/Prototypes/_HL/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_HL/Entities/Objects/Misc/ntid.yml
  Resources/Prototypes/_HL/Entities/Structures/Doors/Airlocks/Airlocks.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/idgunny.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idntlieu.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idntso.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/ntidad.png
Labels: S: Untriaged, size/XL, Sprites, Audio, No C#, FTL, YML

#218 [DO NOT MERGE] Linter fixes
  Content.Server/EntityEffects/Effects/RestoreBloodReagent.cs
Labels: S: Untriaged, size/XS, C#

#219 Apollo updates & other changes
  Resources/Maps/_HL/Shuttles/apollo.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Prototypes/_HL/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/_HL/Reagents/narcotics.yml
  Resources/Prototypes/_HL/Shipyard/apollo.yml
Labels: size/L, No C#, YML

#220 Some Abyss organization, and added the Bluespace Stash base.
  Resources/Prototypes/_HL/Entities/Mobs/Abyssal/abyssmobs.yml
  Resources/Prototypes/_HL/Entities/Objects/Misc/abyssobjects.yml
  Resources/Prototypes/_HL/Entities/Structures/Misc/AbyssApparations.yml
  Resources/Prototypes/_HL/Entities/Structures/Storage/bluespacestash.yml
  Resources/Prototypes/_HL/Reagents/otherworld.yml
  Resources/Textures/_HL/Structures/Storage/bluespacestash.rsi/bluespace-stash.png
  Resources/Textures/_HL/Structures/Storage/bluespacestash.rsi/meta.json
Labels: S: Untriaged, size/M, Sprites, No C#, YML

#224 Price adjustment for the nest
  Resources/Prototypes/_HL/Shipyard/Avali/Nest.yml
Labels: S: Untriaged, size/XS, No C#, YML

#226 So no Head?
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/_HL/Body/Prototypes/generic.yml
  Resources/Prototypes/_HL/Recipes/Lathes/rehydrateable.yml
Labels: S: Untriaged, size/S, No C#, YML
