Repository fenndragon/HardLight, pull requests merged in 2025-09, with the labels that each got.

#234 Arachne's Spider Blades & derelict worldloaders
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_HL/Entities/Clothing/Back/spiderblades.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Textures/_HL/Clothing/Back/spiderblades.rsi/equipped-BACKPACK.png
  Resources/Textures/_HL/Clothing/Back/spiderblades.rsi/icon.png
  Resources/Textures/_HL/Clothing/Back/spiderblades.rsi/meta.json
Labels: size/S, Sprites, C#, YML

#242 SM hell
  Content.Server/Atmos/Components/AtmosFixMarkerComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/Piping/Unary/Components/GasOutletInjectorComponent.cs
  Content.Server/Supermatter/Systems/SupermatterSystem.Processing.cs
  Content.Server/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/Supermatter/Components/SupermatterFoodComponent.cs
  Content.Shared/Supermatter/Components/SupermatterImmuneComponent.cs
  Resources/Audio/Supermatter/calm.ogg
  Resources/Audio/Supermatter/delamming.ogg
  Resources/Locale/en-US/objectives/conditions/steal.ftl
  Resources/Locale/en-US/supermatter/supermatter.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Misc/supermatter_sliver.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_EE/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/_EE/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/_EE/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/explosion.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Engineering/Supermatter.xml
  Resources/Textures/Supermatter/supermatter.rsi/meta.json
  Resources/Textures/Supermatter/supermatter.rsi/supermatter.png
  Resources/Textures/Supermatter/supermatter_sliver.rsi/icon.png
  Resources/Textures/Supermatter/supermatter_sliver.rsi/meta.json
Labels: size/L, do not merge, Sprites, C#, Audio, Docs, FTL, YML

#236 Update Antediluvian.yml
  Resources/Maps/_HL/Shuttles/Shuttles/Antediluvian.yml
Labels: S: Untriaged, size/XS, No C#, YML, S: Needs Review

#243 Security Vending UPDATE
  Resources/Locale/en-US/_HL/store/SecurityVending.ftl
  Resources/Prototypes/_HL/Catalog/uplink_catalog.yml
  Resources/Prototypes/_HL/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_HL/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: size/M, No C#, FTL, YML

#247 Fix the species and normalize the marking amounts to 8 chest, 8 leg, 8 arm
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Species/ipc.yml
  Resources/Prototypes/_NF/Species/goblin.yml
  Resources/Prototypes/_NF/Species/sheleg.yml
Labels: S: Untriaged, No C#, YML

#251 Stone Rengault Plushie and JuiceThatMakesYouBark
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_HL/Entities/Mobs/NPC/animals.yml
  Resources/Prototypes/_HL/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_HL/Polymorphs/polymorph.yml
  Resources/Prototypes/_HL/Reagents/fun.yml
  Resources/Prototypes/_HL/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_NF/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_StarLight/Voice/speech_emote_sounds.yml
  Resources/Textures/_HL/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_HL/Objects/Fun/toys.rsi/plushie_stone_rengault.png
Labels: S: Untriaged, size/M, Sprites, No C#, YML

#249 Update vending_machines.yml
  Resources/Locale/en-US/_HL/store/SecurityVending.ftl
  Resources/Prototypes/_HL/Catalog/uplink_catalog.yml
  Resources/Prototypes/_HL/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: S: Untriaged, size/M, No C#, FTL, YML

#252 Replaces LPB with the Viper's Den (Syndie Rework Pt. 1)
  Resources/Maps/_HL/POI/vipersden.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_HL/PointsOfInterest/vipersden.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
Labels: S: Untriaged, size/XL, No C#, YML

#256 IPC key slot increase
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: S: Untriaged, size/XS, No C#, YML, Held for freeze

#269 NT hardsuit parity
  Resources/Prototypes/_HL/Entities/Objects/Nanotrasen/clothing.yml
Labels: S: Untriaged, No C#, YML

#264 I love the linter!
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.Functions.cs
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsCommands.cs
  Resources/Audio/Ambience/wisp_ambience.ogg
  Resources/Audio/Effects/wail.ogg
  Resources/Locale/en-US/_EE/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/nyanotrasen/reagents/psionic.ftl
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
Labels: S: Untriaged, size/M, C#, Audio, FTL, YML

#275 Added Shitmed Compatibility for NF synthetic organs
  Resources/Prototypes/_NF/Body/Organs/synthetic_organs.yml
Labels: No C#, YML

#266 Error: /Prototypes/Recipes/Construction/utilities.yml(-1,-1) File not found. (/Textures) error, and sentry build menu fix
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/turrets.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/turret_controls.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/registered.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_rifles_sniper.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
Labels: S: Untriaged, size/S, No C#, YML

#258 Borgs are now Pettable
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Interactions/mood_interactions.yml
Labels: S: Untriaged, size/S, No C#, YML, Held for freeze

#259 Add missing Borg Modules to the Exofab
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/Melee.yml
  Resources/Prototypes/Floof/Entities/Objects/Weapons/guns.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_HL/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
Labels: S: Untriaged, size/S, No C#, YML, Held for freeze

#270 ADD FuCs to mail
  Resources/Prototypes/_HL/Mail/mail.yml
  Resources/Prototypes/_HL/Mail/maildelivers.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: S: Untriaged, size/S, No C#, YML

#279 Syndieborg Adjustments - Faction Parity stuff, comms
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
Labels: S: Untriaged, size/S, No C#, YML

#271 Shotgun v2
  Resources/Locale/en-US/_HL/Weapons/gun-examine.ftl
  Resources/Prototypes/_HL/Catalog/Fills/Crates/weapons.yml
  Resources/Prototypes/_HL/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_HL/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_HL/Loadouts/loadouts.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12_gauge.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/base_melee.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex.rsi/base.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex.rsi/bolt-open.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex.rsi/equipped-BACKPACK.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex.rsi/icon.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex.rsi/mag-0.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex.rsi/meta.json
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex_inhand_x64.rsi/inhand-left.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex_inhand_x64.rsi/inhand-right.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex_inhand_x64.rsi/meta.json
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex_inhand_x64.rsi/wielded-inhand-left.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Shotguns/vortex_inhand_x64.rsi/wielded-inhand-right.png
Labels: size/M, Sprites, No C#, FTL, YML

#272 E halberd and unholy halberd is HERE
  Resources/Locale/en-US/_HL/store/Syndicateuplink.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_HL/Catalog/uplink_catalog.yml
  Resources/Prototypes/_HL/Entities/Objects/Weapons/Melee/energy.yml
  Resources/Prototypes/_HL/Entities/Objects/Weapons/Melee/sharp.yml
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-left-blade-P.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-left-blade.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-left.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-right-blade-P.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-right-blade.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/inhand-right.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/meta.json
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/wielded-inhand-left.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd-inhands.rsi/wielded-inhand-right.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd.rsi/e_halberd.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd.rsi/e_halberd_blade-P.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd.rsi/e_halberd_blade.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd.rsi/icon.png
  Resources/Textures/_HL/Objects/Weapons/Melee/e_halberd.rsi/meta.json
  Resources/Textures/_HL/Objects/Weapons/Melee/halberd.rsi/icon.png
  Resources/Textures/_HL/Objects/Weapons/Melee/halberd.rsi/inhand-left.png
  Resources/Textures/_HL/Objects/Weapons/Melee/halberd.rsi/inhand-right.png
  Resources/Textures/_HL/Objects/Weapons/Melee/halberd.rsi/meta.json
  Resources/Textures/_HL/Objects/Weapons/Melee/halberd.rsi/wielded-inhand-left.png
  Resources/Textures/_HL/Objects/Weapons/Melee/halberd.rsi/wielded-inhand-right.png
Labels: S: Untriaged, size/M, Sprites, No C#, FTL, YML, S: Needs Review

#280 Mining module added back to the exo
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Research/industrial.yml
Labels: size/XS, No C#, YML

#255 the histrov Scope bug
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Specific/Species/felinid.rsi/meta.json
Labels: S: Untriaged, size/S, Sprites, No C#, YML, S: Needs Review

#283 Persistence Test
  Content.Server/_HL/RoundPersistence/Systems/RoundPersistenceSystem.cs
Labels: S: Untriaged, size/S, C#

#289 Moth hair port
  Resources/Locale/en-US/_CD/markings/moth.ftl
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/_CD/Mobs/Customization/Moth/hair.rsi/highponytail.png
  Resources/Textures/_CD/Mobs/Customization/Moth/hair.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/Moth/hair.rsi/shortcut.png
  Resources/Textures/_CD/Mobs/Customization/Moth/hair.rsi/shortmessy.png
  Resources/Textures/_CD/Mobs/Customization/Moth/hair.rsi/sideponytail.png
  Resources/Textures/_CD/Mobs/Customization/Moth/hair.rsi/sideswept.png
  Resources/Textures/_CD/Mobs/Customization/Moth/hair.rsi/tuft.png
Labels: size/S, Sprites, No C#, FTL, YML

#290 making stealth boxes breakable
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: bug, S: Untriaged, size/XS, No C#, YML

#294 Make drains actually craftable
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/glimmerdevices.yml
Labels: S: Untriaged, size/XS, No C#, YML, Held for freeze

#292 Increased moth hair and facial hair markings
  Resources/Prototypes/Species/moth.yml
Labels: S: Untriaged, No C#, YML, Held for freeze

#295 various bug fixes
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: size/XS, No C#, YML

#300 Cherrypicked Floof Reptilian Neck Floof
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/floof_neckfull.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
Labels: Sprites, No C#, YML

#302 final shipsaving
  Content.Client/_NF/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Server/Diagnostics/EntitySpawnProfilerSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/Shuttles/Save/ShipSaveSystem.cs
  Content.Server/Shuttles/ShipSerializationSystem.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardGridSaveSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
  Resources/Locale/en-US/damage/damage-popup-component.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Locale/en-US/temperature/entity-heater.ftl
Labels: S: Untriaged, size/L, C#, FTL

#303 Temporarily comments out clientside ship file deletion
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
Labels: S: Untriaged, C#
