Repository fenndragon/HardLight, pull requests merged in 2025-07, with the labels that each got.

#96 Loki's Misc Updates, part 1!
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/mail_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag_holding.yml
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Hydroponics/plant_bag_holding.yml
  Resources/Prototypes/_HL/silicon-laws.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/base_clothing_belt.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Engineering/construction_bag.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
Labels: S: Untriaged, size/M, No C#, FTL, YML

#103 Accessory slots
  Content.Shared/Inventory/SlotFlags.cs
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/corpse_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/diona_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/mannequin_inventory_template.yml
  Resources/Prototypes/_EinsteinEngines/InventoryTemplates/ipc_inventory_template.yml
Labels: S: Untriaged, size/S, C#, YML

#108 Misc Fixes and Additions
  Resources/Locale/en-US/reagents/meta/fun.ftl
  Resources/Prototypes/Floof/Entities/Mobs/Cyborgs/quadborg.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/Chip.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/chip_moving.png
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/meta.json
  Resources/Textures/Floof/Mobs/Silicon/quad.rsi/quadspritechip.png
  Resources/Textures/_Floof/Objects/Consumable/Drinks/7deadlysins.rsi/meta.json
Labels: size/M, Sprites, No C#, FTL, YML

#110 Bows, bike, (guide)book
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Prototypes/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_ballistic.yml
  Resources/Prototypes/_HL/Catalog/Cargo/cargo_paramed_hoverbike.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_crossbow_quiver.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_NF/Guidebook/expeditions.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/wizards.xml
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/equipped-BACKPACK.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/inhand-left.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/inhand-right.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/meta.json
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/unwielded-arrow.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/unwielded-plunger.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/unwielded.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/wielded-arrow.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/wielded-inhand-left.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/wielded-inhand-right.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/wielded-plunger.png
  Resources/Textures/_HL/Objects/Weapons/Guns/Bow/compound.rsi/wielded.png
Labels: size/M, Map-POI, Sprites, No C#, Docs, FTL, YML

#109 Accessory slots completed
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Inventory/SlotFlags.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/diona_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/mannequin_inventory_template.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
Labels: S: Untriaged, size/M, C#, YML

#114 Update charon.yml
  Resources/Maps/_NF/Shuttles/Expedition/charon.yml
Labels: S: Untriaged, size/M, Map-Shuttle, No C#

#116 Debris Adjustment/Optimization (#895)
  Content.Server/NPC/HTN/HTNSystem.cs
  Content.Server/Worldgen/Components/Debris/DebrisFeaturePlacerControllerComponent.cs
  Content.Server/Worldgen/Systems/Carvers/NoiseRangeCarverSystem.cs
  Content.Server/Worldgen/Systems/Debris/DebrisFeaturePlacerSystem.cs
  Content.Server/Worldgen/Systems/WorldControllerSystem.cs
  Content.Server/_NF/GC/Components/DeletionPassTallyComponent.cs
  Content.Server/_NF/GC/Systems/EntityDeletionSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/GC/world.yml
Labels: S: Untriaged, size/M, C#, YML

#118 liberation station restock box fix
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: S: Untriaged, No C#, YML

#100 Civilian ship Gondola from flooftier. Sauna variants of atmos devices.
  Resources/Locale/en-US/_Flooftier/guidebook/guides.ftl
  Resources/Maps/_Flooftier/Shuttles/gondola.yml
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sauna.yml
  Resources/Prototypes/_Flooftier/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_Flooftier/Shipyard/gondola.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/ServerInfo/_Flooftier/Guidebook/Shipyard/Gondola.xml
  Resources/Textures/_Flooftier/Guidebook/shuttle_maps/128x96.rsi/gondola.png
  Resources/Textures/_Flooftier/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/gondola.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: S: Untriaged, size/XL, Sprites, No C#, Docs, FTL, YML

#122 Various Fixes
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_HL/Entities/Clothing/departmental_clothes.yml
  Resources/Prototypes/_HL/Entities/Effects/portal.yml
  Resources/Prototypes/_HL/Entities/Structures/Misc/AbyssApparations.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/45_magnum.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_HL/Effects/Projections/abyss_apparation5.rsi/apparation-abyss-5.png
  Resources/Textures/_HL/Effects/Projections/abyss_apparation5.rsi/meta.json
  Resources/Textures/_HL/Effects/Projections/abyss_projection5.rsi/apparation-abyss-5.png
  Resources/Textures/_HL/Effects/Projections/abyss_projection5.rsi/meta.json
  Resources/Textures/_HL/Effects/Projections/abyssal_crack.rsi/abysscrack.png
  Resources/Textures/_HL/Effects/Projections/abyssal_crack.rsi/meta.json
  Resources/Textures/_HL/Mobs/Abyssal/abyssghost.rsi/alive.png
  Resources/Textures/_HL/Mobs/Abyssal/abyssghost.rsi/crit.png
  Resources/Textures/_HL/Mobs/Abyssal/abyssghost.rsi/dead.png
  Resources/Textures/_HL/Mobs/Abyssal/abyssghost.rsi/meta.json
  Resources/Textures/_HL/Mobs/Abyssal/abysshand.rsi/alive.png
  Resources/Textures/_HL/Mobs/Abyssal/abysshand.rsi/crit.png
  Resources/Textures/_HL/Mobs/Abyssal/abysshand.rsi/dead.png
  Resources/Textures/_HL/Mobs/Abyssal/abysshand.rsi/meta.json
  Resources/Textures/_HL/Objects/Abyssal/abyss_ball.rsi/abyss_ball.png
  Resources/Textures/_HL/Objects/Abyssal/abyss_ball.rsi/meta.json
  Resources/Textures/_HL/Objects/Abyssal/crystal_abyss.rsi/ice.png
  Resources/Textures/_HL/Objects/Abyssal/crystal_abyss.rsi/meta.json
Labels: S: Untriaged, size/M, Sprites, No C#, FTL, YML
