Repository fenndragon/HardLight, pull requests merged in 2025-06, with the labels that each got.

#56 Id comp 3
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Access/external.yml
  Resources/Prototypes/Access/medical.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_HL/Roles/Jobs/Command/StationCaptain.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
Labels: S: Untriaged, size/M

#55 Weapon pass the fifth
  Content.Shared/Weapons/Ranged/Upgrades/Components/GunUpgradeComponent.cs
  Content.Shared/Weapons/Ranged/Upgrades/Components/GunUpgradeDamageComponent.cs
  Content.Shared/Weapons/Ranged/Upgrades/Components/GunUpgradeFireRateComponent.cs
  Content.Shared/Weapons/Ranged/Upgrades/Components/GunUpgradeSpeedComponent.cs
  Content.Shared/Weapons/Ranged/Upgrades/Components/UpgradeableGunComponent.cs
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Locale/en-US/weapons/ranged/upgrades.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Objects/Tools/pka_upgrade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/salvage.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/energy.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/base_rifle_assault.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles_assault.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/SMGs/base_smg.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Tools/pka.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_gun.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/salvage_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Tools/upgrade.rsi/base.png
  Resources/Textures/Objects/Tools/upgrade.rsi/display.png
  Resources/Textures/Objects/Tools/upgrade.rsi/meta.json
  Resources/Textures/Objects/Tools/upgrade.rsi/overlay-1.png
  Resources/Textures/Objects/Tools/upgrade.rsi/overlay-2.png
  Resources/Textures/Objects/Tools/upgrade.rsi/overlay-3.png
Labels: S: Untriaged, size/M

#66 autopay changes
  Content.Server/_Hardlight/StationPay/StationPaySystem.cs
  Content.Shared.Database/LogType.cs
Labels: S: Untriaged, size/M, C#

#68 Adds security IFF crate
  Resources/Prototypes/_HL/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/_HL/Catalog/Fills/Crates/security.yml
Labels: S: Untriaged, size/S, No C#, YML

#67 Station pay disconnections, cvar
  Content.Server/_Hardlight/CVars.cs
  Content.Server/_Hardlight/StationPay/StationPaySystem.cs
Labels: S: Untriaged, size/M, C#

#69 HardLight Mapping - Decal Framework
  Resources/Prototypes/_HL/Decals/HardlightAlphaNumerics.yml
  Resources/Prototypes/_HL/Palettes/hardlight.yml
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterA.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterB.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterC.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterD.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterE.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterF.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterG.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterH.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterI.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterJ.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterK.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterL.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterM.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterN.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterO.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterP.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterQ.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterR.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterS.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterT.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterU.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterV.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterW.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterX.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterY.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/LetterZ.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number0.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number1.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number2.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number3.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number4.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number5.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number6.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number7.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number8.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/Number9.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctAmpersand.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctChevron.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctComma.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctDot.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctEquals.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctExclamationmark.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctHeart.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctMinus.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctPercent.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctPlus.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctPound.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctQuestionmark.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/PunctStar.png
  Resources/Textures/_HL/Effects/hardlightdecals.rsi/meta.json
Labels: S: Untriaged, size/M, Sprites, No C#, YML

#74 Mapping Pass on HardCore - Updated core.yml.
  Resources/Maps/core.yml
Labels: S: Untriaged, size/L, No C#, YML

#58 Bottles and such
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Magic/projectile_spells.yml
  Resources/Prototypes/Magic/spawn_spells.yml
  Resources/Prototypes/Magic/spell_pages.yml
  Resources/Prototypes/Magic/teleport_spells.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_wizard.yml
  Resources/Prototypes/_NF/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/wizard_federation_mages.yml
  Resources/Textures/Objects/Magic/magicactions.rsi/ashed.png
  Resources/Textures/Objects/Magic/magicactions.rsi/meta.json
Labels: S: Untriaged, size/M, Sprites, No C#, YML, S: Needs Review

#75 Various Mapping/Game Fixes (Core, Vent Spawns)
  Resources/Maps/core.yml
  Resources/Prototypes/_HL/GameRules/events.yml
Labels: size/S, No C#, YML

#76 round restart
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
Labels: size/S, C#

#73 Security EVA suit
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SecurityGuard/outer.yml
  Resources/Textures/Clothing/Head/Helmets/eva_sec.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/eva_sec.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Helmets/eva_sec.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/eva_sec.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/eva_sec.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/eva_sec.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/eva_sec.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_sec.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_sec.rsi/equipped-OUTERCLOTHING-monkey.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_sec.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_sec.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_sec.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_sec.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_sec.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_sec.rsi/meta.json
Labels: Sprites, No C#, YML

#82 Update terminal.yml
  Resources/Maps/Misc/terminal.yml
Labels: S: Untriaged, size/XL, No C#, YML

#84 Update ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
Labels: C#

#85 Update ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
Labels: S: Untriaged, size/M, C#

#86 Update terminal.yml, again
  Resources/Maps/Misc/terminal.yml
Labels: S: Untriaged, size/M, No C#, YML

#91 Update poster2_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster2_legit.png
Labels: size/XS, Sprites, No C#
